@tailwind base;
@tailwind components;
@tailwind utilities;

.select-transactions_off {
  @starting-style {
    display: none;
  }
}

.select-transactions_display {
  display: block;
  transition: display 0.5s ease-in;
  transition-behavior: allow-discrete;
}

.fromIngressButton {
  transform: translate(100%, 0%);
  transition: all 200ms ease-in;
}

.fromEgressButton {
  transform: translate(0%, 0%);
  transition: all 200ms ease-in;
}
